# redirect moved files
RedirectMatch Permanent ^/documentation(.*) http://barcode4j.sourceforge.net/2.1/index$1

RedirectMatch Permanent ^/barcode-xml(.*) http://barcode4j.sourceforge.net/2.1/barcode-xml$1
RedirectMatch Permanent ^/building(.*) http://barcode4j.sourceforge.net/2.1/building$1
RedirectMatch Permanent ^/cli(.*) http://barcode4j.sourceforge.net/2.1/cli$1
RedirectMatch Permanent ^/design(.*) http://barcode4j.sourceforge.net/2.1/design$1
RedirectMatch Permanent ^/embedding-bean(.*) http://barcode4j.sourceforge.net/2.1/embedding-bean$1
RedirectMatch Permanent ^/embedding(.*) http://barcode4j.sourceforge.net/2.1/embedding$1
RedirectMatch Permanent ^/fop-ext(.*) http://barcode4j.sourceforge.net/2.1/fop-ext$1
RedirectMatch Permanent ^/output-formats(.*) http://barcode4j.sourceforge.net/2.1/output-formats$1
RedirectMatch Permanent ^/running(.*) http://barcode4j.sourceforge.net/2.1/running$1
RedirectMatch Permanent ^/saxon-ext(.*) http://barcode4j.sourceforge.net/2.1/saxon-ext$1
RedirectMatch Permanent ^/servlet(.*) http://barcode4j.sourceforge.net/2.1/servlet$1
RedirectMatch Permanent ^/svg-dom(.*) http://barcode4j.sourceforge.net/2.1/svg-dom$1
RedirectMatch Permanent ^/xalan-ext(.*) http://barcode4j.sourceforge.net/2.1/xalan-ext$1
RedirectMatch Permanent ^/xsl-fo(.*) http://barcode4j.sourceforge.net/2.1/xsl-fo$1

Redirect Permanent /javadocs http://barcode4j.sourceforge.net/trunk/javadocs

# redirect to versioned documentation
Redirect Temp /stable http://barcode4j.sourceforge.net/2.1
Redirect Temp /current http://barcode4j.sourceforge.net/2.1
Redirect Temp /unstable http://barcode4j.sourceforge.net/trunk
Redirect Temp /latest http://barcode4j.sourceforge.net/2.1
Redirect Temp /previous http://barcode4j.sourceforge.net/2.0

# Old releases
Redirect Temp /1.0 http://barcode4j.sourceforge.net/2.1
Redirect Temp /2.0 http://barcode4j.sourceforge.net/2.1
